<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Productos</title>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Lato">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-9ndCyUaIbzAi2FUVXJi0CjmCapSmO7SnpJef0486qhLnuZ2cdeRhO02iuK6FUUVM" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.2/css/all.css"
        integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
    <link rel="stylesheet" type="text/css" href="../css/bootstrap.min (1).css">
    <style>

    </style>
</head>

<body>

    <!-- Barra de navegacion -->
    <nav class="navbar bg-body-tertiary fixed-top">
        <div class="container-fluid">
            <a class="navbar-brand">Tienda Katu</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar"
                aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar"
                aria-labelledby="offcanvasNavbarLabel">
                <div class="offcanvas-header">
                    <h5 class="offcanvas-title" id="offcanvasNavbarLabel">Opciones</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
                </div>
                <div class="offcanvas-body">
                    <ul class="navbar-nav me-auto">


                        <li class="nav-item">
                            <button class="nav-link" type="button" data-bs-toggle="offcanvas" data-bs-target="#carrito"
                                aria-controls="carrito">Carrito <svg xmlns="http://www.w3.org/2000/svg" width="16"
                                    height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                                    <path
                                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                                </svg></button>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../templates/comprado.html">Comprado</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link btn btn-secondary" href="../index.html">Login/Codigo</a>
                        </li>

                    </ul>
                </div>
            </div>
        </div>
    </nav>

    <!-- Carrito de compra -->
    <div class="offcanvas offcanvas-start" data-bs-scroll="true" data-bs-backdrop="false" tabindex="-1" id="carrito"
        aria-labelledby="carrito">
        <div class="offcanvas-header">
            <h5 class="offcanvas-title" id="carrito">Carrito de Compras <svg xmlns="http://www.w3.org/2000/svg"
                    width="16" height="16" fill="currentColor" class="bi bi-cart4" viewBox="0 0 16 16">
                    <path
                        d="M0 2.5A.5.5 0 0 1 .5 2H2a.5.5 0 0 1 .485.379L2.89 4H14.5a.5.5 0 0 1 .485.621l-1.5 6A.5.5 0 0 1 13 11H4a.5.5 0 0 1-.485-.379L1.61 3H.5a.5.5 0 0 1-.5-.5zM3.14 5l.5 2H5V5H3.14zM6 5v2h2V5H6zm3 0v2h2V5H9zm3 0v2h1.36l.5-2H12zm1.11 3H12v2h.61l.5-2zM11 8H9v2h2V8zM8 8H6v2h2V8zM5 8H3.89l.5 2H5V8zm0 5a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0zm9-1a1 1 0 1 0 0 2 1 1 0 0 0 0-2zm-2 1a2 2 0 1 1 4 0 2 2 0 0 1-4 0z" />
                </svg></h5>
            <button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
        </div>
        <form class="d-flex" role="search">
            <input class="form-control me-2" id="codigo_carrito" type="search" placeholder="Ingresa Tu codigo de Compra"
                aria-label="Search">
            <button class="btn btn-outline-success" id="bucar_carrito" type="button">Mostrar</button>
        </form>
        <div class="offcanvas-body">
            <table class="table" id="tablaDatos">
                <thead>
                    <tr>
                        <th scope="col">#</th>
                        <th scope="col">Nombre</th>
                        <th scope="col">Talla</th>
                        <th scope="col">Precio</th>
                    </tr>
                </thead>
                <tbody>
                </tbody>
            </table>
        </div>
        <div class="footer">
            <center>
                <button type="submit" id="solicitar" class="btn btn-secondary">Consultar Articulos</button>
            </center>
        </div>
    </div>
    <!-- Contenido -->
    <div class="p-4">
        <br><br>
        <div class="btn-group" role="group" aria-label="Button group with nested dropdown p-2">
            <a class="btn fw-bold">Buscador:</a>

            <div class="btn-group" role="group">
                <button type="button" class="btn btn-secondary dropdown-toggle" data-bs-toggle="dropdown"
                    aria-expanded="false">
                    Productos
                </button>
                <ul class="dropdown-menu">
                    <li><a class="dropdown-item" href="#">Camiseta</a></li>
                    <li><a class="dropdown-item" href="#">Pantalones</a></li>
                    <li><a class="dropdown-item" href="#">Zapatos</a></li>
                </ul>
            </div>
        </div>
        <div class="h4 p-4">
            Productos
        </div>
        <div class="container ">
            <div class="row" id="cartas-container">
                <!-- Las cartas generadas se agregarán aquí -->
            </div>
        </div>
    </div>



    <!-- Modal -->
    <div class="modal fade" id="modal_carrito" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h1 class="modal-title fs-5" id="exampleModalLabel">Agregar al Carrito</h1>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                </div>
                <div class="modal-body">
                    <div class="mb-3">
                        <label for="codigo_compra" class="form-label">Ingresa codigo de Compra</label>
                        <input type="email" class="form-control" id="codigo_compra" aria-describedby="emailHelp">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
                    <button type="submit" class="btn btn-secondary" id="guardarcarrito"
                        data-bs-dismiss="modal">Guardar</button>
                </div>
            </div>
        </div>
    </div>



    <script src="https://www.gstatic.com/firebasejs/8.2.1/firebase.js"></script>

    <script src="https://www.gstatic.com/firebasejs/8.2.9/firebase-database.js"></script>
    <!-- Enviar correo electronico -->
    <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/@emailjs/browser@3/dist/email.min.js"></script>

    <script type="text/javascript">
        emailjs.init('MSBVq_POAKjwB1Ucr')
    </script>


    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.5.0/Chart.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.29.1/moment.min.js"></script>

    <!-- Funcioanalidad del sistema -->
    <script src="../js/listas/productos.js"></script>
    <script src="../js/listas/pedidos.js"></script>
    <script src="../js/listas/buscarcarrito.js"></script>
    <!-- Asegúrate de incluir Bootstrap JS y jQuery si es necesario -->
    <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.3/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-geWF76RCwLtnZ8qwWowPQNguL3RmwHVBC9FhGdlKrxdiJJigb/j/68SIy3Te4Bkz"
        crossorigin="anonymous"></script>
</body>

</html>